
<div class="jumbotron">
  <h1 class="display-4"> <%= @member.first_name %> <%= @member.last_name %></h1>
  <hr class="my-4">
  <p class="lead"><%= @member.skill %></p>
  <p>  <%= @member.phone %> | <%= @member.email %></p>
  <br/>
  <p class="lead">
    <%= link_to 'Edit', edit_member_path(@member), class:"btn btn-dark" %> 
    <%= link_to 'Back', members_path , class:"btn btn-dark" %> 
  </p>
</div>

